mixin form_errors(form)
  .row
    .col-md-12
      for name, errors in form.errors | dictsort if form.errors
        for error in errors
          .alert.alert-danger
            strong= form[name].label
            | 
            = error

